- provide(:title, t('vehicles.index.title'))

%h1.page-header= t('vehicles.index.header')
.row
  .col-xs-12
    = will_paginate @vehicles

    %table.table.table-striped.table-hover.table-condensed
      %thead
        %th Placa
        %th Codigo
        %th Categoria
        %th Subcategoria
        %th Edad
        %th Cilindraje/Pasajeros/Toneladas
        %th Nombre
      %tbody
        = render @vehicles

    = will_paginate @vehicles
