<% if @vehicle.nil? %>
  $('#alerts').html("");
  $('#new_vehicle input').each(function(index){
    $(this).prop('disabled', false);
  });
  $('#insurance_section').hide();
  $('#new_insurance_submit').prop('disabled', true);
<% else %>
  $('#alerts').html("<div class='alert alert-success' role='alert' style='margin-top: 30px'><%= I18n.t('vehicles.search.found') %></div>");

  // Vehicle form
  $('#new_vehicle_form_container').html("<%= j render partial: 'vehicles/new_form' %>");
  $('#new_vehicle input').each(function(index){
    $(this).prop('disabled', true);
  });
  $('#vehicle_license_hidden').val("<%= @vehicle.license %>");

  // Insurance form
  <%= render partial: 'vehicles/enable_insurance_form' %>
<% end %>
