#alerts
- flash.each do |type, msg|
  - if msg.is_a?(String)
    %div{class: "alert alert-#{type} fade in top"}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = content_tag :div, msg, :id => "flash_#{type}"
