#sidebar
  %ul.nav.nav-sidebar
    %li{class: "#{@active == 'dashboard' ? 'active' : 'inactive'}"}
      %a{href: "#"} Resumen
    %li
      %a{href: ""} Vendidos
  %ul.nav.nav-sidebar
    %li
      %a{href: ""} Comprar Soat
    %li
      %a{href: ""} Mis Compras
    %ul.nav.nav-sidebar
    %li
      %a{href: ""} Perfil
